<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="../asset/favicon/">
    <link rel="apple-touch-icon" sizes="60x60" href="../asset/favicon//apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../asset/favicon//apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../asset/favicon//apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../asset/favicon//apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../asset/favicon//apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../asset/favicon//apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../asset/favicon//apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../asset/favicon//apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../asset/favicon//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../asset/favicon//favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../asset/favicon//favicon-16x16.png">
    <link rel="manifest" href="../asset/favicon//manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drink Boba | By Dennis</title>
    <!-- Css -->
    <link rel="stylesheet" href="../resource/css/style.css">
</head>
<body id="home">
    <!-- Header -->
    <header>
        <nav class="navbar">
            <img src="../asset/img/brand.png" class="brand" alt="">
            <ul id="menu" class="nav-link ">
                <li class="link"><a class="link" href="#menu12">Menu</a></li>
                <li class="link"><a class="link" href="#about">About</a></li>
                <li class="link"><a class="link" href="#home">Home</a></li>
                <li class="link"><a class="link" href="#why">Pesan</a></li>
            </ul>
            <div onclick="menu()" class="menu-toogle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </header>
    <!-- Header End -->

    <!-- Main -->
    <main>
        <!-- Hero -->
        <article class="hero">
           <aside>
            <img src="../asset/img/hero.png" alt="" class="img-hero">
           </aside>
            <aside>
                <h1 class="judul">RASAKAN NIKMATNYA MINUM BOBA DI SIANG HARI</h1>
                <p class="sub-judul">Drink Boba, adalah salah satu outlet resmi penjual boba. dengan varian rasa yang banyak dan juga topping yang
                    menarik.
                    kami selalu memperhatikan mutu produk kami.</p>
                    <button class="button">Pesan Sekarang</button>
            </aside>
        </article>
        <!-- Hero End -->

        <!-- Why -->
        <article class="why" id="why">
            <h1 class="judul-why">Kenapa harus Drink Boba?</h1>
            <div class="container">
                <div class="card">
                    <img src="../asset/img/harga.png" class="img-card" alt="">
                    <p class="sub-title">Harga yang pas</p>
                </div>

                <div class="card">
                    <img src="../asset/img/gula.png" class="img-card" alt="">
                    <p class="sub-title">Gula Yang Asli</p>
                </div>

                <div class="card">
                    <img src="../asset/img/kemasan.png" class="img-card" alt="">
                    <p class="sub-title">Kemasan yang menarik</p>
                </div>
            </div>
        </article>
        <!-- Why End -->

        <!-- About -->
        <article class="bagian" id="about">
            <h1 class="judul-about">Tentang Drink Boba</h1>
            <div class="about">
                <img id="gambar1"  src="../asset/img/logo.png" alt="" class="img-about">
                <img id="gambar2" src="../asset/img/founder.png" alt="" class="img-founder none">
                <div  style="margin-top: 10px; margin-left: 10px;">
                    <p id="pesan">Selamat datang di "Drink Boba"! Kami bangga menjadi salah satu outlet resmi penjual boba terkemuka dengan beragam varian
                    rasa yang lezat dan topping yang menggugah selera. Kami berkomitmen untuk selalu menyajikan produk berkualitas tertinggi
                    kepada pelanggan kami.
                    
                    Varian Rasa yang Menggugah Selera: Di "Drink Boba," kami memahami bahwa setiap orang memiliki selera yang berbeda. Oleh
                    karena itu, kami menawarkan berbagai macam varian rasa boba yang memenuhi beragam preferensi Anda. Dari rasa klasik
                    seperti Thai Tea dan Taro hingga pilihan eksotis seperti Matcha Latte dan Mango Madness, kami memiliki sesuatu yang
                    cocok untuk semua orang. Kami terus melakukan riset dan pengembangan untuk menghadirkan varian rasa baru yang menarik
                    bagi pelanggan setia kami.
                    
                    Kualitas Adalah Prioritas Kami: Kualitas adalah landasan dari semua yang kami lakukan di "Drink Boba." Kami hanya
                    menggunakan bahan-bahan terbaik dan berkualitas tinggi dalam setiap minuman kami. Kami juga sangat memperhatikan proses
                    pembuatan minuman untuk memastikan konsistensi dan kelezatan yang khas dari boba kami.
</p>

                        <button onclick="sectionFounder()" class="button" id="tombol1">Founder Drink Boba</button>
                        <button id="tombol2" onclick="sejarah()" class="button none">Sejarah Drink Boba</button>
                </div>
            </div>
        </article>
        <!-- About End -->

        <!-- Menu -->
        <article class="why" id="menu12">
            <h1 class="judul-why">Menu Drink Boba</h1>
            <div class="container">
                <div class="card">
                    <img src="../asset/img/menu1.png" class="img-card" alt="">
                    <p class="sub-title">BOBA JAWA + OREO</p>
                </div>
        
                <div class="card">
                    <img src="../asset/img/menu2.png" class="img-card" alt="">
                    <p class="sub-title">BOBA KALIMANTAN</p>
                </div>
        
                <div class="card">
                    <img src="../asset/img/menu1.png" class="img-card" alt="">
                    <p class="sub-title">BOBA SUMATRA</p>
                </div>
            </div>
        </article>
        <!-- Menu End -->
    </main>
    <!-- Main End -->

    <!-- Footer -->
    <footer>
        <p class="footer">Copyright by Dennis Satriani Sucipto Putra @ Drink Boba</p>
    </footer>
    <!-- Footer End -->

    <!-- Js -->
    <script src="../resource/js/main.js"></script>
</body>
</html>